.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Swatch {
  margin: 10px 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.Swatch-color-tile {
  min-height: 10vh;
  margin: 10px;
  padding: 2px;
  border-color: rgb(226, 226, 226);
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .Swatch-color-tile {
    flex: 1;
  }
}

.Swatch-color {
  min-height: 10vh;
}

.Swatch-color-text {
  padding: 1px;
  background-color: rgb(240, 240, 240);
  font-size: calc(10px + 1vmin);
}
